@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #13131a;
  --bg2: #e5eded;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: ling;
  src: url('/fonts/linguistics-pro/LinguisticsPro-Regular.otf');
}
@font-face {
  font-family: 'titillium';
  src: url('/fonts/Titillium_Web/Titillium-Regular.otf');
}
@font-face {
  font-family: 'optima';
  src: url('/fonts/OptimaLTPro/OptimaLTPro-Roman.ttf');
}
.revamp-font {
  font-family: ling;
}
.revamp-font-titi {
  font-family: titillium;
}
.revamp-font-optima {
  font-family: optima;
}

::-webkit-scrollbar {
  height: 0px;
  width: 5px;
}
.dynasty-contact-image {
  margin: 5px;
}
.swiper {
  width: 100%;
  position: relative;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
